charset-normalizer==3.3.2
colorama==0.4.6
idna==3.7
itsdangerous==2.2.0
MarkupSafe==2.1.5
numpy==2.0.1
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
pyparsing==3.1.2
pytesseract==0.3.10
six==1.16.0
soupsieve==2.6
urllib3==2.2.2
